
.hero-section1 {
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-top: -30px;
  }
  .profile-menu {
    background-color: #4d4d4d;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    min-width: 200px;
    margin-top: 50px;
  }
  
  .profile-email {
    font-size: 14px;
    color: #353535;
    padding: 10px 20px;
  }
  
  .logout-btn {
    color: #b41626;
    font-weight: 500;
    padding: 10px 20px;
  }
  
  .logout-btn:hover {
    background-color: #d31b2a;
    color: #c82333;
  }